html,body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/bg.jpg);
	font-family: Microsoft JhengHei
}
.main {
	position: absolute;
	width: 100%;
	z-index: 999;
}
.avatar {
	position: relative;
	width: 180px;
	height: 180px;
	background-image: url(../img/avatar.jpg);
	background-size: 180px 180px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	border-radius: 50%;
}
.username {
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
	color: #fff;
}
.login {
	margin-top: 50px;
	text-align: center;
}
.login-input {
	width: 245px;
	height: 30px;
	border: 2px #999 solid;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 42px;
}
.login-input:focus {
	outline: none;
}
.login>button {
	position: absolute;
	margin-top: 2px;
	margin-left: -34px;
	width: 32px;
	height: 32px;
	background-color: #555;
	color: #fff;
	border: none;
	font-size: 16px;
	font-weight: bold;
}
.mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(10px);
}
.gate {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #000;
	background-image: url(../img/bg.jpg);
	color: #fff;
	margin-top: -21px;
}
.gate-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.75;
	z-index: 88888;
}
.show-time {
	position: absolute;
	z-index: 99999;
	left: 30px;
	bottom: 30px;
}
.show-time>p {
	margin: 20px;
}
.show-time>p:nth-child(1) {
	font-size: 75px;
}
.show-time>p:nth-child(2) {
	font-size: 40px;
}
.login-no-password {
	display: none;
	margin-top: 20px;
	text-align: center;
	color: #fff;
}
.login-no-password>p {
	margin-bottom: 30px;
}
.login-no-password>p>button {
	width: 85px;
	height: 35px;
	font-size: 14px;
	background-color: #555;
	border: 2px #fff solid;
	color: #fff;
}